SQL_SERVER=192.168.12.215
SQL_USER=sa
SQL_PASSWORD=@1B9j9K045
SQL_DATABASE=HesapKapatma
SQL_TRUST_SERVER_CERT=true
PORT=3001
ADMIN_SECRET=HK_2026_ADMIN_SECRET_ChangeMe
MANIM_BASE_URL=http://176.88.200.22:4001/api
MANIM_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlZDRiNDJhZjM0MWI0MGY0MjQzMGQwZSIsImNvbXBhbnlJZCI6IjVlZDBkOGE5ZjM0MWI0MGY0MjQyZWQzOCIsImJyYW5jaElkIjoiNWVkMGQ4ZWQ5ZmZlYTQwZjNkNjMyZGQ5IiwiaXNBZG1pbiI6dHJ1ZSwiaWF0IjoxNzc2OTQyNDM0LCJleHAiOjE3NzcwMjg4MzR9.AtKuAlWEV5wDY-LltqCI3pzRz1pTtGsrZ-zebpH9Hk4
HTTP_REQUEST_TIMEOUT_MS=900000
HTTP_HEADERS_TIMEOUT_MS=120000
HTTP_KEEPALIVE_TIMEOUT_MS=75000
IMPORT_JOB_TTL_MS=21600000
